<div class="album py-5 bg-white">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">

                <div id="profile-profile-2" class="profile-profile">
                    <div class="tabbable">
                        <ul class="nav nav-tabs padding-18">
                            <li class="active">
                                <a data-toggle="tab" href="#home">
                                    <i class="far fa-profile"></i>
                                    {{profile.firstName}} {{profile.lastName}}
                                </a>
                            </li>

                            {{!-- <li>
                                <a data-toggle="tab" href="#feed">
                                    <i class="orange ace-icon fa fa-rss bigger-120"></i>
                                    Activity Feed
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#friends">
                                    <i class="blue ace-icon fa fa-profiles bigger-120"></i>
                                    Friends
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#pictures">
                                    <i class="pink ace-icon fa fa-picture-o bigger-120"></i>
                                    Pictures
                                </a>
                            </li> --}}
                        </ul>

                        <div class="tab-content no-border padding-24">
                            <div id="home" class="tab-pane in active">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3 center">
                                        <span class="profile-picture">
                                            <img class="img-size img-responsive" alt=" Avatar" id="avatar2" src="{{profile.image}}">
                                        </span>

                                        <div class="space space-4"></div>

                                        {{#if user}}
                                        {{{editUser profile.id user.id}}}
                                        {{/if}}

                                    </div><!-- /.col -->

                                    <div class="col-xs-12 col-sm-9">

                                        <div class="profile-profile-info">
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Name: </div>

                                                <div class="profile-info-value">
                                                    <span>{{profile.firstName}} {{profile.lastName}}</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Location </div>

                                                <div class="profile-info-value">
                                                    <i class="fas fa-plane"></i>
                                                    <span>{{profile.location}}</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Age </div>

                                                <div class="profile-info-value">
                                                    <span>{{getAge profile.birthDate}}</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> BirthDate </div>

                                                <div class="profile-info-value">
                                                    <span>{{formatDate profile.birthDate 'YYYY-MM-DD'}}</span>
                                                </div>
                                            </div>

                                    
                                        </div>

                                        <div class="hr hr-8 dotted"></div>

                                        <div class="profile-profile-info">
                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> Website </div>

                                                <div class="profile-info-value">
                                                    <a href="#" target="_blank">{{profile.website}}</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- /.col -->
                                </div><!-- /.row -->

                                <div class="space-20"></div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="widget-box transparent">
                                            <div class="widget-header widget-header-small">
                                                <h4 class="widget-title smaller">
                                                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                                                    about {{profile.firstName}}...
                                                </h4>
                                            </div>

                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    
                                                    {{{profile.about}}}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /#home -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>