<div class="album py-5 bg-white">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        {{#if stories}}
        <h4>Manage your posts</h4>
        <table data-toggle="table" data-pagination="true" data-search="true" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th data-sortable="true">Title</th>
              <th data-sortable="true">Date</th>
              <th data-sortable="true">Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each stories}}
            <tr>
              <td><span class="dashboard-title"><a href="/stories/show/{{this._id}}">{{this.title}}</a></span></td>
              <td>{{formatDate this.date 'DD MMM YYYY'}}</td>
              <td><span class="dashboard-status">{{this.status}}</span></td>
              <td>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/stories/edit/{{this._id}}" class="btn btn-sm btn-outline-warning"><i class="far fa-edit"></i>
                      Edit</a>
                      <form action="/stories/{{this._id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
                      </form>
                  </div>
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{else}}
      <p>Hey {{user.firstName}}, all your posts will appear here...</p>
      {{/if}}
    </div>
  </div>
</div>