<div class="album py-5 bg-white">
    <div class="container">

        <div class="row">

            <div class="col-sm-12 blog-main">

                <img src="https://picsum.photos/1080/360" class="img-fluid blog-image" alt="Responsive image">

                <div class="blog-post">
                    <h3 class="blog-post-title">{{story.title}}</h3>
                    <p class="blog-post-meta">Posted: {{formatDate story.date 'MMMM Do YYYY'}}</p>

                    {{{story.story}}}
                </div><!-- /.blog-post -->

                {{#if story.allowComments}}
                <div class="row">
                    <div class="col-md-8">
                        <h6 class="mb-2 text-muted">Comments</h6>
                        {{#each story.comments}}
                        <div class="card mb-3">
                            <div class="card-body">
                                <span class="card-subtitle mb-2 text-muted"><img src="{{this.commentUser.image}}" class="blog-post-img-comment" /><span class="ml-2">{{this.commentUser.firstName}} {{this.commentUser.lastName}}</span></span>
                                <p class="card-text text-muted mt-2">{{this.commentBody}}</p>
                                <p class="blog-post-meta">Posted: {{formatDate this.commentDate 'LLLL'}}</p>
                            </div>
                        </div>
                        {{/each}}
                        <h5 class="mb-3">Post a Comment</h5>
                        <form method="POST" action="/stories/comment/{{story._id}}">
                            <div class="align-items-center">
                                <div class="col-auto mb-3">
                                    <textarea class="form-control mb-2" id="comment-box" name="comment"></textarea>
                                </div>

                                <div class="col-auto">
                                    <button type="submit" class="btn btn-secondary">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {{else}}
                <h5 class="mb-3">Please log in to comment</h5>
                {{/if}}

                <span class="blog-post-meta-user"><img src="{{story.user.image}}" class="blog-post-img" /> More by <a
                        href="/user/posts/{{story.user._id}}">{{story.user.firstName}}
                        {{story.user.lastName}}</a></span>

            </div><!-- /.blog-main -->
        </div>
    </div>
</div>